<!-- @dsCard group="Data" height=420 -->
<!doctype html>
<html lang="en">
<head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1"><title>Table</title></head>
<body>
<div class="sas-page">
  <div class="sas-panel">
    <table class="sas-table">
      <thead>
        <tr><th scope="col">Item</th><th scope="col" class="sas-table__num">Qty</th><th scope="col" class="sas-table__num">Unit cost</th><th scope="col" class="sas-table__num">Total</th></tr>
      </thead>
      <tbody>
        <tr><td data-label="Item">Linen, oat</td><td data-label="Qty" class="sas-table__num">2.5 yd</td><td data-label="Unit cost" class="sas-table__num">$14.00</td><td data-label="Total" class="sas-table__num">$35.00</td></tr>
        <tr><td data-label="Item">Cotton lining</td><td data-label="Qty" class="sas-table__num">1.5 yd</td><td data-label="Unit cost" class="sas-table__num">$6.50</td><td data-label="Total" class="sas-table__num">$9.75</td></tr>
        <tr><td data-label="Item">Invisible zipper</td><td data-label="Qty" class="sas-table__num">1</td><td data-label="Unit cost" class="sas-table__num">$3.25</td><td data-label="Total" class="sas-table__num">$3.25</td></tr>
        <tr><td data-label="Item">Thread, rose</td><td data-label="Qty" class="sas-table__num">2</td><td data-label="Unit cost" class="sas-table__num">$4.10</td><td data-label="Total" class="sas-table__num">$8.20</td></tr>
      </tbody>
      <tfoot>
        <tr><td data-label="Item">Materials</td><td></td><td></td><td data-label="Total" class="sas-table__num">$56.20</td></tr>
      </tfoot>
    </table>
  </div>
</div>
<script>SewAndSo.hydrate(document);</script>
</body>
</html>
